{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUE SKY SYSTEM</title>
</head>
<body class="mobile">

    {% include 'systems/navbar.html' %}

    {% block content %}
    

    {% endblock %}


    <script>

        window.addEventListener('resize', function(){
            addRequiredClass();
        })

        function addRequiredClass() {
            if (window.innerWidth < 950) {
                document.body.classList.add('mobile')
            } else {
                document.body.classList.remove('mobile')
            }
        }

        window.onload = addRequiredClass
    </script>


    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>